.Title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: inherit;
}

.Background{
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}


input{
   padding: 10px;
   border-radius: 5px;
   border-color: aliceblue;
